[run]
source = ..
branch = True
omit =
    tests/*
    .venv/*
    setup.py
    */__init__.py
    */site-packages/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    pass
    raise ImportError
    except ImportError:
    if __name__ == .__main__.:

[html]
directory = coverage_html
title = Congress Member Data Coverage Report